@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background: white;
  border: #2dd4bf;
  border-radius: 25px;
  transition: 0.1s;
  &:hover {
    opacity: 1;
    background: whitesmoke;
  }
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: white;
  opacity: 0.6;
  border: white;
  border-radius: 25px;
  transition: 0.1s;
  &:hover {
    opacity: 0.1;
    background: #2dd4bf;
  }
}

::-webkit-scrollbar-track {
  width: 10px;
  background: linear-gradient(125deg, black, #2dd4bf);
}

.frame {
  width: 92vw;
  aspect-ratio: 16/8;
  top: 3vw;
  left: 4vw;
  position: absolute;
  border-radius: 10px;
  border: 1px solid white;
}

.team-member-yellow {
  border: 1px solid yellow;
  box-shadow: 0px 0px 90px yellow;
  * {
    background: linear-gradient(to right, yellow, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px yellow;
  }
  .text-white {
    border: 1px solid yellow;
    border-radius: 10px;
  }
}

.text-yellow {
  color: yellow;
}

.text-red {
  color: red;
}

.text-green {
  color: greenyellow;
}
.text-lightblue {
  color: lightblue;
}

.team-member-red {
  border: 1px solid red;
  box-shadow: 0px 0px 90px red;
  * {
    background: linear-gradient(to right, red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px red;
  }
  .text-white {
    border: 1px solid red;
    border-radius: 10px;
  }
}

.team-member-green {
  border: 1px solid greenyellow;
  box-shadow: 0px 0px 90px greenyellow;
  * {
    background: linear-gradient(to right, greenyellow, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px greenyellow;
  }
  .text-white {
    border: 1px solid greenyellow;
    border-radius: 10px;
  }
}

.team-member-lightblue {
  border: 1px solid lightblue;
  box-shadow: 0px 0px 90px lightblue;
  * {
    background: linear-gradient(to right, lightblue, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px lightblue;
  }
  .text-white {
    border: 1px solid lightblue;
    border-radius: 10px;
  }
}

.team-member {
  // border: 1px solid #2dd4bf;
  // box-shadow: 0px 0px 90px #2dd4bf;
  padding: 20px;
  font-size: 14px;
  .text-white {
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;
    -khtml-text-fill-color: white;
    -ms-text-fill-color: white;
    text-shadow: 10px 30px 90px white;
  }
  .text-white,
  .text-light {
    background: transparent;
    background-clip: unset;
    -webkit-background-clip: unset;
    -moz-background-clip: unset;
    -khtml-background-clip: unset;
    -ms-background-clip: unset;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .custom-30px-mobile {
    margin-top: 0 !important;
  }
  @media (max-width: 480px) {
    .custom-30px-mobile {
      margin-top: 30px !important;
    }
  }
  @media (max-width: 480px) {
    .text-white {
      margin-top: 50px;
      margin-bottom: 0;
    }
  }
  .text-light {
    -webkit-text-fill-color: grey;
    text-shadow: 10px 30px 90px grey;
  }
}

.testimonial {
  border: 1px solid #2dd4bf;
  box-shadow: 0px 0px 90px #2dd4bf;
  padding: 20px;
  font-size: 14px;
  * {
    background: linear-gradient(to right, #2dd4bf, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px #2dd4bf;
  }
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.customBox {
  top: 30px;
  position: fixed;
  width: 30vw;
  // z-index: 6 !important;
  box-shadow: 0px 0px 10px #2dd4bf;
  font-size: 12px;
  padding: 15px;
  height: 10vw;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.boxes {
  box-shadow: 0px 0px 10px #2dd4bf;
  padding-bottom: 7px;
  border: 1px solid #2dd4bf;
  cursor: pointer;
  div {
    cursor: pointer;
  }
  &:hover {
    background: #2dd4bf;
    color: black;
    div {
      background: #2dd4bf;
      color: black;
      border-color: black !important;
    }
  }
}

.animateBoxes {
  animation: 8s animationBoxes linear infinite alternate-reverse;
}

@keyframes animationBoxes {
  from {
    top: 20px;
    box-shadow: 0px 0px 10px #2dd4bf;
    font-weight: lighter;
    border: 1px solid #2dd4bf;
  }
  to {
    top: 250px;
    box-shadow: 0px 0px 100px #2dd4bf;
    font-weight: bolder;
    border: 0.1px dotted #2dd4bf;
  }
}

.customImgBox {
  bottom: 30px;
  position: fixed;
  width: 30vw;
  // z-index: 6 !important;
  box-shadow: 0px 0px 10px #2dd4bf;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.customImgBoxImg {
  width: 100%;
}

::selection {
  color: black;
  background-color: #2dd4bf;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: black;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: black;
  -khtml-background-clip: unset;
  -khtml-text-fill-color: black;
  -moz-background-clip: unset;
  -moz-text-fill-color: black;
  -ms-background-clip: unset;
  -ms-text-fill-color: black;
}
.gradient-heading {
  background: linear-gradient(to right, #2dd4bf, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -khtml-background-clip: text;
  -khtml-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  animation: gradient-heading 5s infinite linear alternate-reverse;
  text-shadow: 10px 30px 90px #2dd4bf;
}

@keyframes gradient-heading {
  from {
    background: linear-gradient(to right, #2dd4bf, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px #2dd4bf;
  }
  to {
    background: linear-gradient(to left, #2dd4bf, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -khtml-background-clip: text;
    -khtml-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-shadow: 10px 30px 90px black;
  }
}

#project_heading {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bolder;
  scroll-snap-stop: always !important;
}

.paragraph-about {
  border: 1px solid #2dd4bf !important;
  margin-left: 27px !important;
  margin-right: 27px !important;
  padding: 10px !important;
  box-shadow: 0px 0px 10px #2dd4bf !important;
  width: 50vw;
  left: 23vw;
  position: fixed;
}

@media (max-width: 480px) {
  .testimonial,
  .team-member {
    padding: 10px !important;
    width: 80% !important;
    height: 80% !important;
    left: 10% !important;
    top: 10% !important;
  }
  .paragraph-about {
    width: 90vw;
    left: 5vw;
    position: static;
  }
  .about-heading-mobile {
    font-size: 26px !important;
  }
  .frame {
    aspect-ratio: 9/15;
    width: 80vw;
    left: 10vw;
  }
  .customBox {
    width: 94%;
    font-size: 12px !important;
    left: 3%;
    top: 10px;
    box-shadow: 0px 0px 10px #2dd4bf;
    height: 10vh;
  }
  #project_heading {
    font-size: 28px;
  }
  #cursor-mouse {
    display: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}

.testimonial-head {
  // position: relative;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: "bolder";
}

.pham {
  height: 100vh;
  .main {
    // height: 60vwmax;
    // background-color: #0f0f0f;
    margin-top: 100vh;
    margin-bottom: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-stop: always;
    img {
      height: 100%;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.pham-mask,
.pham-text {
  font-size: 34px;
  line-height: 36px;
}

@media (max-width: 480px) {
  .pham-mask {
    font-size: 20px !important;
    line-height: 22px !important;
    mask: none !important;
    pointer-events: none;
    mask-size: 0 !important;
  }
  .pham-text {
    font-size: 20px !important;
    line-height: 22px !important;
  }
  .imp-800vh {
    height: 800vw;
  }
}

html {
  width: 100vw;
  //   height: 100vh;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  //   overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  .snapped {
    scroll-snap-align: center;
    // width: 100%;
    // height: 100%;
  }
}

.imp-800vh {
  height: 800vh !important;
  margin-top: 100px;
  margin-bottom: 100px;
  scroll-snap-type: none !important;
}
.imp-200vh {
  height: 800vh !important;
  margin-top: 100px;
  margin-bottom: 100px;
  scroll-snap-type: none !important;
}

.imp-vh {
  height: 200vh !important;
  // margin-top: 100px;
  // margin-bottom: 100px;
  // scroll-snap-type: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: -moz-linear-gradient(to right, #434343, #000000);
  background: -ms-linear-gradient(to right, #434343, #000000);
  background: -khtml-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #2dd4bf;
  background: linear-gradient(-90deg, #2dd4bf 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #2dd4bf 0%,
    rgba(60, 51, 80, 0) 100%
  );
  // background: -moz-linear-gradient(
  //   -90deg,
  //   #2dd4bf 0%,
  //   rgba(60, 51, 80, 0) 100%
  // );
  // background: -ms-linear-gradient(-90deg, #2dd4bf 0%, rgba(60, 51, 80, 0) 100%);
  // background: -khtml-linear-gradient(
  //   -90deg,
  //   #2dd4bf 0%,
  //   rgba(60, 51, 80, 0) 100%
  // );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -ms-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -moz-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -khtml-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f12711, #f5af19);
  background: -moz-linear-gradient(to top, #f12711, #f5af19);
  background: -ms-linear-gradient(to top, #f12711, #f5af19);
  background: -khtml-linear-gradient(to top, #f12711, #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f12711, #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -khtml-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -khtml-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
  background: -moz-linear-gradient(to top, #11998e, #38ef7d);
  background: -ms-linear-gradient(to top, #11998e, #38ef7d);
  background: -khtml-linear-gradient(to top, #11998e, #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #11998e, #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -khtml-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -khtml-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2f80ed, #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2f80ed, #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -khtml-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -khtml-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ec008c, #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ec008c, #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -khtml-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -khtml-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em #ffffff;
  }
}
